.application {
    &__title {
        color: $secondary;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        position: relative;
        width: 150px;
        height: 140px;
        margin: 5px;
        padding: 5px;
        color: $text-color;
        text-align: center;
        border: 1px solid transparent;
        border-radius: $border-radius-lg;
        transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border 0.35s ease-in-out;
        > i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            font-size: 3.5rem;
            color: $text-color;
        }
        span {
            padding-top: 5px;
            line-height: 1.3;
            display: flex;
            flex: 1;
            align-items: center;
        }
        &:hover {
            background-color: rgba($white, 0.5);
            text-decoration: none;
            border: 1px solid $gray-300;
            box-shadow: 5px 5px 15px rgba($black, 0.1);
            transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border 0.35s ease-in-out;
            color: inherit;
            i {
                transition: color 0.1s ease-in-out;
            }
        }
        &:active {
            background-color: rgba($white, 0.8);
            box-shadow: 2px 2px 10px rgba($black, 0.1) inset;
            transition: background-color 0.25s ease-in-out, box-shadow 0.35s ease-in-out, border 0.15s ease-in-out;
        }
        img {
            max-height: 100px;
            max-width: 100px;
            padding: 10px;
        }
        &--add,
        &--remove {
            position: absolute;
            top: 10px;
            right: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $secondary;
            text-align: center;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
            border: 1px solid transparent;
            padding: 0;
            i {
                color: $white;
                font-size: 1rem;
                line-height: 30px;
            }
            &:hover {
                background-color: $primary;    
            }
        }
        &.no-hover {
            background-color: inherit;
            border-color: transparent;
            box-shadow: inherit;
        }
        .opacity-50 {
            opacity: 0.5;
        }
    }
}

.applications {
    &__search {
        @extend .mt-1;
        input[type="search"] {
            box-shadow: 3px 3px 15px rgba(0,0,0,0.05); // A variabiliser
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__favorite {
        border: 1px solid $gray-300;
        border-radius: $border-radius-lg;
        background-color: rgba($white, .75);
        box-shadow: 3px 3px 15px rgba(0,0,0,0.05);
        padding: 10px;
        @extend .mt-3;
        h2 {
            font-size: 1.2rem;
        }
    }
    &__list,
    &__connector {
        h2 {
            @extend .mb-3;
            flex-basis: 100%;
            font-size: 1.2rem;
            span {
                padding-right: 10px;
                background-color: $gray-100;
            }
            &::after {
                display: block;
                content: "";
                border-top: 1px solid $gray-300;
                margin-top: -10px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .application {
        &__item {
            width: 90px;
            height: 110px;
            margin: 5px;
            > i {
                font-size: 3rem;
                width: 60px;
                height: 60px;
            }
            span {
                font-size: 0.8rem;
            }
            img {
                max-height: 80px;
                max-width: 80px;
            }
            &--add,
            &--remove {
                top: 10px;
                right: 10px;
            }
        }
    }
    .applications {
        &__list {
            justify-content: space-around;
        }
        &__favorite {
            padding: 10px;
        }
    }
}

// APPLICATIONS AND CONNECTORS : ICONS AND COLORS
.application {
    font-family: "generic-icons";
    font-style: normal;

    // ICON COLOR : RED
    &.admission-post-bac,
    &.admission-post-bac-large,

    &.absences,
    &.absences-large,

    &.assr,
    &.assr-large,

    &.canal-numerique,
    &.canal-numerique-large,

    &.cerise,
    &.cerise-large,

    &.charlemagne,
    &.charlemagne-large,

    &.competences,
    &.competences-large,

    &.edumoov,
    &.edumoov-large,

    &.electron,
    &.electron-large,

    &.glpi,
    &.glpi-large,

    &.madmagz,
    &.madmagz-large,

    &.matholycee,
    &.matholycee-large,

    &.mediacentre,
    &.mediacentre-large,
    &.public,
    &.public-large,

    &.notes,
    &.notes-large, 

    &.pages,
    &.pages-large,

    &.parametrage,
    &.parametrage-large,

    &.rack,
    &.rack-large,

    &.rbs,
    &.rbs-large,

    &.support,
    &.support-large,

    &.universalis,
    &.universalis-large,
    
    &.wiki,
    &.wiki-large,

    &.workspace,
    &.workspace-large {
        color: $red;
    }

    // ICON COLOR : ORANGE : FORBIDDEN (OLD HOVER COLOR)

    // ICON COLOR : YELLOW
    &.admin,
    &.admin-large,

    &.archive,
    &.archive-large,

    &.agenda,
    &.agenda-large,

    &.attendance,
    &.attendance-large,
    
    &.calendar,
    &.calendar-large,

    &.charte,
    &.charte-large, 

    &.conversation,
    &.conversation-large,

    &.edutheque,
    &.edutheque-large,

    &.le-site-tv,
    &.le-site-tv-large,

    &.library,
    &.library-large,

    &.monorientationenligne,
    &.monorientationenligne-large,

    &.note,
    &.note-large,
    
    &.settings-class,
    &.settings-class-large,

    &.timelinegenerator,
    &.timelinegenerator-large,
    
    &.turboself,
    &.turboself-large,

    &.vie-scolaire,
    &.vie-scolaire-large  {
        color: $yellow;
    }

    // ICON COLOR : GREEN
    &.aide-devoirs,
    &.aide-devoirs-large,
    &.award,
    &.award-large,
    
    &.biblionisep,
    &.biblionisep-large,

    &.ccn,
    &.ccn-large,
    &.residence-artiste,
    &.residence-artiste-large,

    &.cahier-de-texte,
    &.cahier-de-texte-large,
    &.cahier-textes,
    &.cahier-textes-large,

    &.cidj,
    &.cidj-large,

    &.cns,
    &.cns-large,

    &.collaborative-wall,
    &.collaborative-wall-large,

    &.hiboutheque,
    &.hiboutheque-large,

    &.itopstore,
    &.itopstore-large,

    &.netvibes,
    &.netvibes-large,

    &.notebook,
    &.notebook-large,

    &.paraschool,
    &.paraschool-large,

    &.schoolbook,
    &.schoolbook-large,
    
    &.scrap-book,
    &.scrap-book-large,

    &.support,
    &.support-large,

    &.userbook,
    &.userbook-large {
        color: $teal;
    }

    // ICON COLOR : CYAN
    &.actualites,
    &.actualites-large,

    &.assistance,
    &.assistance-large,

    &.banquesavoir,
    &.banquesavoir-large,

    &.cervoprint,
    &.cervoprint-large,

    &.edumedia,
    &.edumedia-large,

    &.europress,
    &.europress-large,
   
    &.forum,
    &.forum-large,

    &.gepi,
    &.gepi-large,

    &.lsu,
    &.lsu-large,
   
    &.mindmap,
    &.mindmap-large,

    &.monstageenligne,
    &.monstageenligne-large,

    &.onisep,
    &.onisep-large,
    &.webclasseur,
    &.webclasseur-large,

    &.onisep2,
    &.onisep2-large,

    &.pad,
    &.pad-large,

    &.pearltrees,
    &.pearltrees-large,

    &.poll,
    &.poll-large,

    &.pro-eps,
    &.pro-eps-large,

    &.searchengine,
    &.searchengine-large,

    &.video,
    &.video-large,

    &.visioconf,
    &.visioconf-large,
    &.Web-conference,
    &.Web-conference-large,

    &.website,
    &.website-large {
        color: $cyan;
    }

    // ICON COLOR : INDIGO
    &.blog,
    &.blog-large,

    &.educagri,
    &.educagri-large,

    &.elyceepicardie,
    &.elyceepicardie-large,

    &.form,
    &.form-large,

    &.lemonde,
    &.lemonde-large,

    &.lesechos,
    &.lesechos-large,

    &.maxicours,
    &.maxicours-large,

    &.museefrancaisphoto,
    &.museefrancaisphoto-large,

    &.ressourcesdepartementale91,
    &.ressourcesdepartementale91-large,
    
    &.sacoche,
    &.sacoche-large {
        color: $indigo;
    }

    // ICON COLOR : PURPLE
    &.account,
    &.account-large,

    &.admin,
    &.admin-large,

    &.bcdi,
    &.bcdi-large,

    &.community,
    &.community-large,
    
    &.exercizer,
    &.exercizer-large,

    &.kne,
    &.kne-large,

    &.paths,
    &.paths-large,

    &.picardie-cursus,
    &.picardie-cursus-large,

    &.pronote,
    &.pronote-large,
    
    &.sharebigfiles,
    &.sharebigfiles-large,
    
    &.stats,
    &.stats-large,
    &.statistics,
    &.statistics-large,
    
    &.wiki,
    &.wiki-large {
        color: $purple;
    }

    // ICON COLOR : PINK
    &.esidoc,
    &.esidoc-large,
    
    &.madmagz,
    &.madmagz-large,

    &.rbs,
    &.rbs-large,
    
    &.unstagepourtous,
    &.unstagepourtous-large {
        color: $pink;
    }

    // DEFINE IMAGE TO USE FOR ICON
    // APPLICATIONS ICONS
    &.competences,
    &.competences-large {
        &::before {content: '\e927'}
    }
    &.cahier-textes,
    &.cahier-textes-large {
        &::before {content: '\e86f'}
    }
    &.calendar,
    &.calendar-large {
        &::before {content: '\e834'}
    }
    &.collaborative-wall,
    &.collaborative-wall-large {
        &::before {content: '\e800'}
    }
    &.community,
    &.community-large {
        &::before {content: '\e814'}
    }
    &.forum,
    &.forum-large {
        &::before {content: '\e81e'}
    }
    &.pages,
    &.pages-large {
        &::before {content: '\e876'}
    }
    &.poll,
    &.poll-large,
    &.polls,
    &.polls-large {
        &::before {content: '\e832'}
    }
    &.rack,
    &.rack-large {
        &::before {content: '\e80d'}
    }
    &.rbs,
    &.rbs-large {
        &::before {content: '\e80e'}
    }
    &.searchengine,
    &.searchengine-large {
        &::before {content: '\e8d0'}
    }
    &.sharebigfiles,
    &.sharebigfiles-large {
        &::before {content: '\e8cb'}
    }
    &.schoolbook,
    &.schoolbook-large {
        &::before {content: '\e91e'}
    }
    &.archive,
    &.archive-large {
        &::before {content: '\e81d'}
    }
    &.admin,
    &.admin-large {
        &::before {content: '\e81a'}
    }
    &.cahier-de-texte,
    &.cahier-de-texte-large {
        &::before {content: '\e910'}
    }
    &.wiki,
    &.wiki-large {
        &::before {content: '\e813'}
    }
    &.cns,
    &.cns-large {
        &::before {content: '\e88a'}
    }
    &.conversation,
    &.conversation-large {
        &::before {content: '\e804'}
    }
    &.paths,
    &.paths-large {
        &::before {content: '\e94d'}
    }
    &.notebook,
    &.notebook-large,
    &.scrap-book,
    &.scrap-book-large {
        &::before {content: '\e8d4'}
    }
    &.blog,
    &.blog-large {
        &::before {content: '\e809'}
    }
    &.account,
    &.account-large {
        &::before {content: '\e905'}
    }
    &.support,
    &.support-large {
        &::before {content: '\e835'}
    }
    &.workspace,
    &.workspace-large {
        &::before {content: '\e81b'}
    }
    &.admin-portal,
    &.admin-portal-large {
        &::before {content: '\e908'}
    }
    &.stats,
    &.stats-large {
        &::before {content: '\e909'}
    }
    &.userbook,
    &.userbook-large,
    &.directory,
    &.directory-large {
        &::before {content: '\e811'}
    }
    &.agenda,
    &.agenda-large {
        &::before {content:'\e83c'}
    }
    &.absences,
    &.absences-large {
        &::before {content:'\e80b'}
    }
    &.mindmap,
    &.mindmap-large {
        &::before {content: '\e859'}
    }
    &.timelinegenerator,
    &.timelinegenerator-large {
        &::before {content: '\e819'}
    }
    &.actualites,
    &.actualites-large {
        &::before {content: '\e85b'}
    }
    &.pad,
    &.pad-large,
    &.collaborativeeditor,
    &.collaborativeeditor-large {
        &::before {content: '\e829'}
    }
    &.settings-class,
    &.settings-class-large {
        &::before {content: '\e942'}
    }
    &.library,
    &.library-large {
        &::before {content: '\e94c'}
    }
    &.visioconf,
    &.visioconf-large,
    &.Web-conference,
    &.Web-conference-large {
        &::before {content: '\e957'}
    }
    &.notes,
    &.notes-large {
        &::before {content: '\e832'}
    }
    &.attendance,
    &.attendance-large {
        &::before {content: '\e80b'}
    }
    &.exercizer,
    &.exercizer-large {
        &::before {content: '\e833'}
    }
    &.statistics,
    &.statistics-large {
        &::before {content: '\e810'}
    }
    &.website,
    &.website-large{
        &::before {content: '\e90a'}
    }
    &.video,
    &.video-large {
        &::before {content: '\e872'}
    }
    &.form,
    &.form-large {
        &::before {content: '\e95b'}
    }
    // ---END APPLICATIONS ICONS---

    // ---CONNECTORS ICONS---
    &.pearltrees,
    &.pearltrees-large {
        &::before {content: '\e933'}
    }
    &.esidoc,
    &.esidoc-large {
        &::before {content: '\e826'}
    }
    &.sacoche,
    &.sacoche-large {
        &::before {content: '\e899'}
    }
    &.onisep,
    &.onisep-large,
    &.webclasseur,
    &.webclasseur-large {
        &::before {content: '\e88c'}
    }
    &.onisep2,
    &.onisep2-large {
        &::before {content: '\e894'}
    }
    &.edumedia,
    &.edumedia-large {
        &::before {content: '\e887'}
    }
    &.le-site-tv,
    &.le-site-tv-large {
        &::before {content: '\e87a'}
    }
    &.pronote,
    &.pronote-large {
        &::before {content: '\e82a'}
    }
    &.maxicours,
    &.maxicours-large {
        &::before {content: '\e825'}
    }
    &.madmagz,
    &.madmagz-large {
        &::before {content: '\e89d'}
    }
    &.universalis,
    &.universalis-large {
        &::before {content: '\e831'}
    }
    &.kne,
    &.kne-large {
        &::before {content: '\e81f'}
    }
    &.residence-artiste,
    &.residence-artiste-large,
    &.ccn,
    &.ccn-large {
        &::before {content: '\e90f'}
    }
    &.hiboutheque,
    &.hiboutheque-large {
        &::before {content: '\e90e'}
    }
    &.cerise,
    &.cerise-large {
        &::before {content: '\e81c'}
    }
    &.paraschool,
    &.paraschool-large {
        &::before {content: '\e82d'}
    }
    &.scolinfo,
    &.scolinfo-large {
        &::before {content: '\e886'}
    }
    &.edumoov,
    &.edumoov-large {
        &::before {content: '\e939'}
    }
    &.lsu,
    &.lsu-large {
        &::before {content: '\e93a'}
    }
    &.charte,
    &.charte-large {
        &::before {content: '\e93b'}
    }
    &.qwant-junior,
    &.qwant-junior-large {
        &::before {content: '\e93d'}
    }
    &.canal-numerique,
    &.canal-numerique-large {
        &::before {content: '\e80a'}
    }
    &.aide-devoirs,
    &.aide-devoirs-large,
    &.award,
    &.award-large {
        &::before {content: '\e818'}
    }
    &.admission-post-bac,
    &.admission-post-bac-large {
        &::before {content: '\e816'}
    }
    &.charlemagne,
    &.charlemagne-large {
        &::before {content: '\e885'}
    }
    &.vie-scolaire,
    &.vie-scolaire-large {
        &::before {content: '\e879'}
    }
    &.pro-eps,
    &.pro-eps-large {
        &::before {content: '\e884'}
    }
    &.picardie-cursus,
    &.picardie-cursus-large {
        &::before {content: '\e921'}
    }
    &.banquesavoir,
    &.banquesavoir-large {
        &::before {content: '\e88d'}
    }
    &.unstagepourtous,
    &.unstagepourtous-large {
        &::before {content: '\e88e'}
    }
    &.bcdi,
    &.bcdi-large {
        &::before {content: '\e88f'}
    }
    &.ressourcesdepartementale91,
    &.ressourcesdepartementale91-large {
        &::before {content: '\e890'}
    }
    &.assr,
    &.assr-large {
        &::before {content: '\e891'}
    }
    &.museefrancaisphoto,
    &.museefrancaisphoto-large {
        &::before {content: '\e892'}
    }
    &.cidj,
    &.cidj-large {
        &::before {content: '\e893'}
    }
    &.itopstore,
    &.itopstore-large {
        &::before {content: '\e895'}
    }
    &.cervoprint,
    &.cervoprint-large {
        &::before {content: '\e896'}
    }
    &.glpi,
    &.glpi-large {
        &::before {content: '\e897'}
    }
    &.elyceepicardie,
    &.elyceepicardie-large {
        &::before {content: '\e898'}
    }
    &.electron,
    &.electron-large {
        &::before {content: '\e89b'}
    }
    &.gepi,
    &.gepi-large {
        &::before {content: '\e89c'}
    }
    &.educagri,
    &.educagri-large {
        &::before {content: '\e89e'}
    }
    &.monorientationenligne,
    &.monorientationenligne-large {
        &::before {content: '\e89f'}
    }
    &.turboself,
    &.turboself-large {
        &::before {content: '\e8a0'}
    }
    &.netvibes,
    &.netvibes-large {
        &::before {content: '\e8a1'}
    }
    &.monstageenligne,
    &.monstageenligne-large {
        &::before {content: '\e8a2'}
    }
    &.matholycee,
    &.matholycee-large {
        &::before {content: '\e8a3'}
    }
    &.biblionisep,
    &.biblionisep-large {
        &::before {content: '\e8a4'}
    }
    &.lesechos,
    &.lesechos-large {
        &::before {content: '\e8a5'}
    }
    &.edutheque,
    &.edutheque-large {
        &::before {content: '\e8a6'}
    }
    &.europress,
    &.europress-large {
        &::before {content: '\e8a7'}
    }
    &.lemonde,
    &.lemonde-large {
        &::before {content: '\e8a9'}
    }
    &.assistance,
    &.assistance-large {
        &::before {content: '\e93c'}
    }
    &.note,
    &.note-large {
        &::before {content: '\e806'}
    }
    &.parametrage,
    &.parametrage-large {
        &::before {content: '\e92f'}
    }
    &.public,
    &.public-large,
    &.mediacentre,
    &.mediacentre-large {
        &::before {content: '\e863'}
    }
    &.connecteur-generique1,
    &.connecteur-generique1-large {
        &::before {content: '\e8aa'}
    }
    &.connecteur-generique2,
    &.connecteur-generique2-large {
        &::before {content: '\e8ab'}
    }
    // ---END CONNECTORS ICONS---
}

// Add class for applications 1D
// .application {
//     &.nom-appli {
//         &::after {
//             font-family: "Roboto";
//             font-size: 0.9rem;
//             content: "1D";
//             position: absolute;
//             top: -5px;
//             right: -5px;
//             background-color: $primary;
//             color: $white;
//             width: 25px;
//             height: 25px;
//             border-radius: 50%;
//         }
//     }
// }


// shadow class for D&D Sortable.js library
.blue-background-class {
    background-color: rgba($secondary, 0.15);
}