
header.navbar.navbar-dark {
    padding: 5px 10px 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    box-shadow: 0 2px 5px $shadow-light;
    background: linear-gradient(to bottom right, #4bafd5, #2a9cc8)!important; // QUICKFIX, a unifier lors de l'explorateur
    a {
        display: block;
        color: $white;
    }
    .logo {
        display: inline-block;
        height: 45px;
        padding-bottom: 5px;
    }
    .avatar #my-photo {
        height: 28px;
        border-radius: 50%;
        background-color: white; // A retirer quand on aura refait l'avatar
    }
    .navigation {
        &__item {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            text-decoration: none!important;
            border-bottom: 5px solid transparent;
            margin: 0 2px;
            padding: 10px 5px;
            &:hover {
                border-bottom: 5px solid $primary;
            }
            a:hover {
                text-decoration: none;
            }
            i[class*="ic-"] {
                color: $white;
                font-size: 1.8rem;
            }
            .new-mails {
                position: relative;
                top: -15px;
                right: 10px;
                display: inline-block;
                height: 20px;
                width: 20px;
                background: $orange;
                border-radius: 50%;
                font-family: "Roboto";
                font-size: 12px;
                font-weight: bold;
                text-align: center;
                line-height: 20px;
                margin-right: -20px;
            }
        }
    } 
}
@include media-breakpoint-down(sm) {
    header.navbar.navbar-dark {
        padding-bottom: 3px;
        .navigation {
            &__item {
                margin: 0 5px;
                padding: 0;
                i[class*="ic-"] {
                    font-size: 1.5rem;
                }
            }
        }
        a.application__title {
            display: block;
            width: calc(100% - 300px);
        }
        .logo {height: 30px}
    }
}