.ode-theme-v1{
    background: none;
    z-index: 1;
    *{
        line-height: normal;
    }
    *,  *::before,  *::after{
        box-sizing: initial;
    }
    .table {
        width: initial;
        margin: 0;
    }
    .row {
        display: block;
        margin: initial;
        flex-wrap: initial;
    }
    a:not([href]) {
        color: $blue;
    }
    img {
        max-width: 100%;
    }
    legend{
        font-size: initial;
    }
    .schedule .days .day {
        width: calc(100% / 7);
    }
    .container {
        max-width: initial;
        width: initial;
        min-width: initial;
    }
}

#{$root-selector}{
    .ode-theme-v1{
        .container {
            max-width: initial;
            width: initial;
            min-width: initial;
        }
        input[type=button], input[type=submit], a.button, button{
            border-radius: 2px;
        }
    }
}