/* TODO : must be common to all pages with the new BS5 Toast */
infotip.info {
    padding: 20px;
    bottom: 10px !important;
    right: 10px !important;
    border-radius: 0;
    width: 450px !important;
    // box-shadow: 0 0.5rem 1rem rgb(33 37 41 / 15%);
}

infotip.info {
    background: linear-gradient(to right, #f0f9fc, #dceff7);
}

infotip .close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 6px;
    opacity: .5
}

infotip.info p {
    margin-top: 20px;
    color: var(--bs-third);
}

infotip .right-magnet {
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    text-align: right;
}

infotip button {
    padding: 0.475rem 1.2rem;
    border: 0;
    border-radius: 0;
}

infotip button.cancel {
    margin-right: 1rem;
    color: #000;
    background-color: #e9ecef;
    border-color: #e9ecef;
}

infotip button.cancel:hover {
    color: var(--bs-primary);
    background-color: #e9ecef;
    border-color: #e9ecef;
}

infotip button:not(.cancel) {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

infotip button:not(.cancel):hover {
    color: #fff;
    background-color: #d97100;
    border-color: #cc6a00;
}