// BACKPORT : while waiting to move to modal bootstrap
@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin run-transition($property: color, $speed: 250ms, $timing: ease) {
  transition: $property $speed $timing;
}

@mixin lightbox-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  box-sizing: border-box;
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #222;
  opacity: 0.5;
}

@mixin lightbox-window {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10001;
  display: none;
  float: none;
  margin-right: auto;
  margin-left: auto;
  background: $white;
  border-radius: 5px;
}

.lightbox-window {
  .row {
    min-height: initial !important;
  }

  .lightbox-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;

    input[type="submit"],
    input[type="button"] {
      float: right;
    }
  }
}

.lightbox-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

.lightbox,
.tiny-lightbox {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10001;
  display: none;
  float: none;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  font-size: initial;
  font-weight: 400;
  line-height: initial;
  color: $text-color;
  text-align: left;
  cursor: default;

  .background {
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: " ";
      background: rgba(0, 0, 0, 0.6);
    }
  }

  .close-lightbox {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;

    i.close-2x {
      font-family: generic-icons;
      font-size: 1.6rem;
      font-style: normal;
      color: $black !important;

      &::before {
        content: "\e866";
      }
    }
  }

  > div.content {
    position: relative;
    z-index: 1;
    float: none !important;
    width: 720px;
    max-width: initial;
    max-height: calc(100vh - 75px);
    padding: 15px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    background: $white;
    border-radius: 5px;
  }

  .content::after {
    display: block;
    width: 100%;
    clear: both;
    content: " ";
  }

  &::after {
    display: block;
    width: 100%;
    clear: both;
    content: " ";
  }
}

section.tiny-lightbox div.content {
  width: 500px;
}

.lightbox-view,
.lightbox {
  .tabs.linker {
    section .icons-view {
      border-left: 0;
    }

    select {
      height: 25px;
    }
  }

  .linker {
    input[type="checkbox"] {
      margin-left: 0;
    }

    input[type="text"],
    select,
    label {
      margin: 5px;
      margin-right: 0;
      margin-left: 0;
    }

    .found-resources {
      position: relative;
      height: 165px;
      overflow-y: auto;
      clear: both;

      @include run-transition(height);

      .icons-view {
        overflow: auto;

        @include absolute();
      }
    }

    .illustrated-list {
      position: absolute;

      li {
        img {
          position: relative !important;
          height: 100% !important;
        }
      }
    }
  }

  .search-pagination {
    input {
      box-sizing: border-box;
      padding-right: 45px !important;
      padding-left: 45px !important;
      margin: 0 !important;
    }

    .show-close {
      position: absolute;
    }
  }
}

// Theme 1D

.lightbox-window,
.lightbox > .content {
  padding: 10px;
  background: $white;
  box-shadow: 2px 2px 24px $shadow;

  h2,
  h2:first-child {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
  }

  nav.vertical {
    margin-right: 0;

    li {
      padding-left: 10px;
    }

    > ul > li,
    > div > ul > li {
      padding-left: 0;
    }
  }

  .tabs {
    margin-top: 10px;

    section {
      padding: 15px 0;
      background: $white;
      border: none;
      border-top: 1px solid $gray-600;
    }

    header.selected {
      background: transparent;
    }
  }
}

.lightbox-opened {
  header.main {
    pointer-events: none;
    opacity: 0;
  }
}

.lightbox form#changePassword {
  label {
    display: block;
  }
}

.lightbox-window {
  form#upload-form {
    h3 {
      float: none;
      width: auto;
    }

    .hidden-content {
      float: left;
    }

    button,
    .right-magnet input {
      margin-bottom: 5px;
    }
  }
}

.lightbox-window .datepicker,
.lightbox-view .datepicker,
.lightbox .datepicker {
  z-index: 1100;
}

.lightbox-view {
  @include lightbox-window();

  .lightbox-window {
    .row {
      min-height: initial !important;
    }

    .lightbox-buttons {
      position: absolute;
      bottom: 0;
      width: 100%;

      input[type="submit"],
      input[type="button"] {
        float: right;
      }
    }
  }

  .lightbox-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .lightbox,
  .tiny-lightbox {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10001;
    display: none;
    float: none;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    font-size: initial;
    font-weight: 400;
    line-height: initial;
    text-align: left;
    cursor: default;

    .background {
      position: fixed;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: " ";
        background: rgba(0, 0, 0, 0.6);
      }
    }

    > div.content {
      position: relative;
      z-index: 1;
      float: none !important;
      width: 720px;
      max-width: initial;
      max-height: calc(100vh - 75px);
      padding: 15px;
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
      overflow: auto;
      background: $white;
      border-radius: 5px;
    }

    .content::after {
      display: block;
      width: 100%;
      clear: both;
      content: " ";
    }

    &::after {
      display: block;
      width: 100%;
      clear: both;
      content: " ";
    }
  }

  section.tiny-lightbox div.content {
    width: 500px;
  }

  .lightbox-view,
  .lightbox {
    .tabs.linker {
      section .icons-view {
        border-left: 0;
      }

      select {
        height: 25px;
      }
    }

    .linker {
      input[type="checkbox"] {
        margin-left: 0;
      }

      input[type="text"],
      select,
      label {
        margin: 5px;
        margin-right: 0;
        margin-left: 0;
      }

      .found-resources {
        position: relative;
        height: 165px;
        overflow-y: auto;
        clear: both;

        @include run-transition(height);

        .icons-view {
          overflow: auto;

          @include absolute();
        }
      }

      .illustrated-list {
        position: absolute;

        li {
          img {
            position: relative !important;
            height: 100% !important;
          }
        }
      }
    }

    .search-pagination {
      input {
        box-sizing: border-box;
        padding-right: 45px !important;
        padding-left: 45px !important;
        margin: 0 !important;
      }

      .show-close {
        position: absolute;
      }
    }
  }
}

.media .lightbox {
  cursor: default;
}

.lightbox form {
  .fill-bar {
    margin-top: 12px;
  }

  p.input-errors {
    margin-bottom: 30px;
  }
}

.lightbox-view .linker .found-resources,
.lightbox .linker .found-resources {
  height: 200px;
}

//changePassword lightbox
.lightbox > .background + div.content > .twelve.cell {
  > .twelve.cell {
    float: none;
  }
}

.lightbox form#changePassword {
  height: auto;

  > .twelve.cell.fluid {
    height: auto;
  }
}

.lightbox > .background::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  content: " ";
  background: transparent;
  background: url(../../img/illustrations/logo.png) 23px 0 no-repeat $shadow;
  background-size: contain;
  box-shadow: 0 2px 5px $shadow;
}

.lightbox-view {
  @include lightbox-window();

  width: 800px;
  text-align: left;
}

.lightbox-background {
  @include lightbox-backdrop();
}

body.lightbox-body {
  background: #666;

  header.lightbox-header {
    opacity: 0.3;
  }

  .lightbox-main {
    background: rgba(255, 255, 255, 0.3);
  }
}

@include media-breakpoint-down(md) {
  body {
    .lightbox {
      > div.content {
        box-sizing: border-box;
        width: calc(100% - 50px);
        min-height: calc(100% - 50px);
        padding: 20px;
        margin: 25px;
        border-radius: 0;
      }
    }
  }
}
