// Color System
$white: #fff !default;
$black: #000 !default;

// Grey Palette
$gray-100: $white !default;
$gray-200: #fafafa !default;
$gray-300: #f2f2f2 !default;
$gray-400: #e4e4e4 !default;
$gray-500: #c7c7c7 !default;
$gray-600: #b0b0b0 !default;
$gray-700: #909090 !default;
$gray-800: #4a4a4a !default;
$gray-900: $black !default;

// NEO Complementary Colors
$blue: #2a9cc8 !default;
$indigo: #1a22a2 !default;
$purple: #763294 !default;
$pink: #b930a2 !default;
$red: #e13a3a !default;
$orange: #ff8d2e !default;
$yellow: #ecbe30 !default;
$green: #46bfaf !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

// Pale, Light and Dark Palette
$blue-100: #e4f4ff;
$blue-200: #aadaed;
$blue-500: $blue;
$blue-900: #1b84ac;

// Pale, Light and Dark Palette
$indigo-100: #dde8fd;
$indigo-200: #9297e5;
$indigo-500: $indigo;
$indigo-900: #121982;

// Pale, Light and Dark Palette
$purple-100: #f4eaf9;
$purple-200: #b68aca;
$purple-500: $purple;
$purple-900: #5d1d79;

// Pale, Light and Dark Palette
$pink-100: #ffe5fb;
$pink-200: #e39cd7;
$pink-500: $pink;
$pink-900: #9c2288;

// Pale, Light and Dark Palette
$red-100: #ffd9d9;
$red-200: #f48a8a;
$red-500: $red;
$red-900: #c82222;

// Pale, Light and Dark Palette
$orange-100: #ffefe3;
$orange-200: #ffc696;
$orange-500: $orange;
$orange-900: #f17a17;

// Pale, Light and Dark Palette
$yellow-100: #fff4d1;
$yellow-200: #f6de94;
$yellow-500: $yellow;
$yellow-900: #daa910;

// Pale, Light and Dark Palette
$green-100: #e7f5f4;
$green-200: #a2e0d8;
$green-500: $green;
$green-900: #33a797;

// Main actions Colors
$primary: $orange;
$secondary: $blue;
$tertiary: $gray-300 !default;
$light: $gray-200 !default;
$medium: $gray-500 !default;
$dark: $gray-800 !default;

// Main colors variants
$primary-100: $orange-100;
$primary-200: $orange-200;
$primary-900: $orange-900;
$secondary-100: $blue-100;
$secondary-200: $blue-200;
$secondary-900: $blue-900;

// Support Palette
$success: #7dbf85 !default;
$info: #4bafd5 !default;
$warning: #f59700 !default;
$danger: #e13a3a !default;

$danger-900: #d12a2a !default;
$danger-200: #f3a6a6 !default;
$danger-100: #ffe9e9 !default;

$warning-900: #e68d00 !default;
$warning-200: #f2c987 !default;
$warning-100: #fdecd2 !default;

$success-900: #70a977 !default;
$success-200: #bbe1bf !default;
$success-100: #daf1dd !default;

$info-900: #3499bf !default;
$info-200: #acd6e6 !default;
$info-100: #d7e8ee !default;

// Navbar Colors
$navbar-color-100: #4bafd5 !default;
$navbar-color-200: $secondary !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "medium": $medium,
  "dark": $dark,
) !default;
