//Ref page : https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// COLORS : colors palette
$blue: #4b90d5;
$indigo: #1a22a2;
$purple: #763294;
$pink: #b930a2;
$red: #e13a3a;
$orange: #ff8500;
$yellow: #ecbe30;
$green: #7dbf85;
$teal: #46bfaf;
$cyan: #4bafd5;
$darker-cyan: #2a9cc8;
$deep-blue: #0984b3;

$primary: $orange;
$secondary: $cyan;
$success: $teal;
$info: $cyan;
$warning: $yellow;
$danger: $red;

