// Surcharge pour le bouton retour sur la verif d'email 
.validate-mail {
    .validate-mail-back {
      display: flex;
      align-items: center;

      span {
        margin-left: 5px;
      }
    }
}