/* COMPONENT */

.dominos .domino {
    width: calc(16.667% - 20px); // 6 per line, sidebar on

    @media (min-width: 1380px) and (max-width: 1620px) {
        width: calc(20% - 20px); // 5 per line, sidebar on
    }

    @media (min-width: 1120px) and (max-width: 1380px) {
        width: calc(25% - 20px); // 4 per line, sidebar on
    }

    @media (min-width: 992px) and (max-width: 1120px) {
        width: calc(33% - 20px); // 3 per line, sidebar on
    }

    @media (min-width: 760px) and (max-width: 992px) {
        width: calc(25% - 10px); // 4 per line
    }

    @media (min-width: 520px) and (max-width: 760px) {
        width: calc(33% - 10px); // 3 per line
    }

    @media (max-width: 520px) {
        width: calc(50% - 10px); // 2 per line
    }
}
