$navbar-brand-padding-y: 0;
$navbar-brand-padding-x: 0;
$navbar-brand-margin-end: 0;
$navbar-padding-y: 0;

$dropdown-padding-y: 0;
$dropdown-font-size: #{$spacer-12};
$dropdown-padding-y: 0;
$dropdown-padding-x: 0;
$dropdown-border-width: 0;
$dropdown-box-shadow: none;
$dropdown-bg: transparent;
$dropdown-divider-margin-y: 0;

.header:is(.header-react) {
  &.no-1d {
    .collapse:not(.show) {
      @include media-breakpoint-up(md) {
        display: inline-flex;
      }
    }
  }
  .navbar {
    --#{$prefix}navbar-padding-y: #{$navbar-padding-y};
    width: 100%;
    background: linear-gradient(
      to bottom right,
      $navbar-color-100,
      $navbar-color-200
    );
    box-shadow: 0 0.2rem 0.5rem rgba($black, 0.4);

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    .navbar-title {
      font-size: 1.4rem;
      font-weight: 700;
      color: $white;
    }

    .navbar-nav {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
    }

    .navbar-brand {
      --#{$prefix}navbar-brand-padding-y: #{$navbar-brand-padding-y};
      --#{$prefix}navbar-brand-padding-x: #{$navbar-brand-padding-x};
      --#{$prefix}navbar-brand-margin-end: #{$navbar-brand-margin-end};

      .logo {
        height: 30px;
      }
      
      @include media-breakpoint-up(md) {
        padding: 0;
        margin-right: 0;

        .logo {
          display: inline-block;
          height: 52px;
        }
      }
    }

    .nav-link {
      align-self: self-end;
      padding: $spacer-8;
      align-items: center;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      border-radius: 0;

      &:hover {
        border-bottom: 3px solid $primary;
      }

      &:not(.dropdown-item) {
        span {
          @include visually-hidden;
        }
      }

      @include media-breakpoint-up(md) {
        padding: $spacer-16 $spacer-8;
        svg {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    .dropdown-menu {
      --#{$prefix}dropdown-padding-y: #{$dropdown-padding-y};
      --#{$prefix}dropdown-font-size: #{$dropdown-font-size};
      position: absolute;

      .icon {
        color: $gray-800;
        width: 1.6rem;
        height: 1.6rem;
      }

      .dropdown-item {
        @include media-breakpoint-down(md) {
          padding: 0.5rem;
          display: inline-flex;
          gap: $spacer-8;
          border-bottom: 0;
        }
      }

      @include media-breakpoint-up(md) {
        --#{$prefix}dropdown-padding-y: #{$dropdown-padding-y};
        --#{$prefix}dropdown-padding-x: #{$dropdown-padding-x};
        --#{$prefix}dropdown-border-width: #{$dropdown-border-width};
        --#{$prefix}dropdown-box-shadow: #{$dropdown-box-shadow};
        --#{$prefix}dropdown-bg: {$dropdown-bg};
        display: flex;
        position: relative !important;
        background-color: transparent;
        border: 0;

        .icon {
          color: $white;

          width: 3rem;
          height: 3rem;
        }

        span {
          @include visually-hidden;
        }
      }
    }

    .dropdown-divider {
      --#{$prefix}dropdown-divider-margin-y: #{$dropdown-divider-margin-y};
    }

    .dropdown-menu-end {
      right: 0;
    }
  }
}
