$base-url: '../../';
$fonts-path: "../../fonts";

@import "../../scss/index.scss";

@font-face {
    font-family: "OpenDyslexic";
    font-style: normal;
    font-weight: normal;
    src: url(#{$fonts-path}/dyslexic/OpenDyslexic.woff);
}

html,
body,
.btn {
    font-family: "OpenDyslexic";
}

body {
    .material {
        section.main {
            top: 104px;
        }
    }
}

button,
input[type=button],
a.button,
input[type=submit],
input[type=search],
input[type=file],
.drop-down-button label,
.drop-down-button.hidden label {
    font-family: "OpenDyslexic";
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

input[type=password],
input[type=password],
input[type=search],
input[type="tel"],
input[type="email"] {
    height: 35px;
}

/* input[type=text] {
    height: 25px;
} */

input[type=text],
textarea,
select {
    font-family: "OpenDyslexic";
}

select {
    padding: 0 5px !important;
    min-width: 180px;
}

.textarea-appreciation {
    margin-top: -5px !important;
    min-height: 25px;
}

a:after {
    padding: 10px 0px;
}

.suivi-proportion {
    line-height: 17px;
}

nav.vertical.stamps article h3,
nav.vertical.half-stamps article h3 {
    font-size: 13px;
}

i side-panel {
    font-family: "OpenDyslexic";
}

.vertical-spacing-twice label span {
    line-height: 18px;
}

.form-section select {
    padding: 0;
    height: 30px;
}

.notification article .notification-date {
    top: 3px;
}

.btn {
    line-height: 2.5rem;
    padding-top: 0;
}

.navbar .nav-link {
    font-family: 'Roboto';
}

.filters-chips {
    .filter {
        padding: 0rem 1.5rem 0.8rem;
        .icon {
            vertical-align: sub;
        }
    }
}

.pulse-spot {
    line-height: 14px;
}

@media screen and (max-width: 550px) {
    h1.application-title {
        font-size: 14px;
    }
}