.application {
    &__title {
        color: $secondary;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        position: relative;
        width: 150px;
        height: 140px;
        margin: 5px;
        padding: 5px;
        color: $text-color;
        text-align: center;
        border: 1px solid transparent;
        border-radius: $border-radius-lg;
        transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border 0.35s ease-in-out;
        > i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            font-size: 3.5rem;
            color: $text-color;
        }
        span {
            padding-top: 5px;
            line-height: 1.1;
            display: flex;
            flex: 1;
            align-items: center;
        }
        &:hover {
            background-color: rgba($white, 0.5);
            text-decoration: none;
            border: 1px solid $gray-300;
            box-shadow: 5px 5px 15px rgba($black, 0.1);
            transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border 0.35s ease-in-out;
            color: inherit;
            i {
                transition: color 0.1s ease-in-out;
            }
        }
        &:active {
            background-color: rgba($white, 0.8);
            box-shadow: 2px 2px 10px rgba($black, 0.1) inset;
            transition: background-color 0.25s ease-in-out, box-shadow 0.35s ease-in-out, border 0.15s ease-in-out;
        }
        img {
            max-height: 100px;
            max-width: 100px;
            padding: 10px;
        }
        &--add,
        &--remove {
            position: absolute;
            top: 10px;
            right: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $secondary;
            text-align: center;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
            border: 1px solid transparent;
            padding: 0;
            i {
                color: $white;
                font-size: 1rem;
                line-height: 30px;
            }
            &:hover {
                background-color: $primary;    
            }
        }
        &.no-hover {
            background-color: inherit;
            border-color: transparent;
            box-shadow: inherit;
        }
        .opacity-50 {
            opacity: 0.5;
        }
    }
}

.applications {
    &__search {
        @extend .mt-1;
        input[type="search"] {
            box-shadow: 3px 3px 15px rgba(0,0,0,0.05); // A variabiliser
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__favorite {
        border: 1px solid $gray-300;
        border-radius: $border-radius-lg;
        background-color: rgba($white, .75);
        box-shadow: 3px 3px 15px rgba(0,0,0,0.05);
        padding: 10px;
        @extend .mt-3;
        h2 {
            font-size: 1.2rem;
        }
    }
    &__list,
    &__connector {
        h2 {
            @extend .mb-3;
            flex-basis: 100%;
            font-size: 1.2rem;
            span {
                padding-right: 10px;
                background-color: $gray-100;
            }
            &::after {
                display: block;
                content: "";
                border-top: 1px solid $gray-300;
                margin-top: -10px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .application {
        &__item {
            width: 90px;
            height: 110px;
            margin: 5px;
            > i {
                font-size: 3rem;
                width: 60px;
                height: 60px;
            }
            span {
                font-size: 0.8rem;
            }
            img {
                max-height: 80px;
                max-width: 80px;
            }
            &--add,
            &--remove {
                top: 10px;
                right: 10px;
            }
        }
    }
    .applications {
        &__list {
            justify-content: space-around;
        }
        &__favorite {
            padding: 10px;
        }
    }
}

// APPLICATIONS ICONS
.application {
    font-family: "generic-icons";
    font-style: normal;

    // ICON COLOR : RED
    &.competences,
    &.competences-large, 

    &.absences,
    &.absences-large,

    &.notes,
    &.notes-large,

    &.pages,
    &.pages-large,

    &.parametrage,
    &.parametrage-large,

    &.rack,
    &.rack-large,

    &.universalis,
    &.universalis-large,

    &.workspace,
    &.workspace-large {
        color: $red;
    }

    // ICON COLOR : ORANGE : FORBIDDEN (HOVER COLOR)

    // ICON COLOR : YELLOW
    &.admin,
    &.admin-large,

    &.archive,
    &.archive-large,

    &.agenda,
    &.agenda-large,
    
    &.calendar,
    &.calendar-large,

    &.conversation,
    &.conversation-large,

    &.le-site-tv,
    &.le-site-tv-large,

    &.library,
    &.library-large,
    
    &.settings-class,
    &.settings-class-large,

    &.timelinegenerator,
    &.timelinegenerator-large {
        color: $yellow;
    }

    // ICON COLOR : GREEN
    &.cahier-de-texte,
    &.cahier-de-texte-large,

    &.cahier-textes,
    &.cahier-textes-large,

    &.cns,
    &.cns-large,

    &.collaborative-wall,
    &.collaborative-wall-large,

    &.schoolbook,
    &.schoolbook-large,
    
    &.scrap-book,
    &.scrap-book-large,

    &.support,
    &.support-large,

    &.userbook,
    &.userbook-large {
        color: $teal;
    }

    // ICON COLOR : CYAN
   &.actualites,
   &.actualites-large,

   &.edumedia,
   &.edumedia-large,
   
   &.forum,
   &.forum-large,
   
   &.mindmap,
   &.mindmap-large,

   &.onisep,
   &.onisep-large,

   &.onisep2,
   &.onisep2-large,

   &.pad,
   &.pad-large,

   &.poll,
   &.poll-large,

   &.searchengine,
   &.searchengine-large,

   &.video,
   &.video-large,

   &.visioconf,
   &.visioconf-large,
   &.Web-conference,
   &.Web-conference-large,

   &.website,
   &.website-large {
        color: $cyan;
    }

    // ICON COLOR : INDIGO
    &.blog,
    &.blog-large,

    &.maxicours,
    &.maxicours-large,
    
    &.sacoche,
    &.sacoche-large {
        color: $indigo;
    }

    // ICON COLOR : PURPLE
    &.community,
    &.community-large,
    
    &.exercizer,
    &.exercizer-large,

    &.kne,
    &.kne-large,

    &.paths,
    &.paths-large,

    &.pronote,
    &.pronote-large,
    
    &.sharebigfiles,
    &.sharebigfiles-large,
    
    &.stats,
    &.stats-large,
    &.statistics,
    &.statistics-large,
    
    &.wiki,
    &.wiki-large {
        color: $purple;
    }

    // ICON COLOR : PINK
    &.esidoc,
    &.esidoc-large,
    
    &.madmagz,
    &.madmagz-large,

    &.rbs,
    &.rbs-large {
        color: $pink;
    }


    // Définit l'image à utiliser pour l'icone
    &.competences,
    &.competences-large {
        &::before {content:"\e927"}
    }
    &.cahier-textes,
    &.cahier-textes-large {
        &::before {content: "\e86f"}
    }
    &.calendar,
    &.calendar-large {
        &::before {content: '\e834'}
    }
    &.collaborative-wall,
    &.collaborative-wall-large {
        &::before {content: "\e800"}
    }
    &.community,
    &.community-large {
        &::before {content: '\e814'}
    }
    &.forum,
    &.forum-large {
        &::before {content: '\e81e'}
    }
    &.pages,
    &.pages-large {
        &::before {content: "\e876"}
    }
    &.poll,
    &.poll-large {
        &::before {content: '\e832'}
    }
    &.rack,
    &.rack-large {
        &::before {content:'\e80d'}
    }
    &.rbs,
    &.rbs-large {
        &::before {content: '\e80e'}
    }
    &.searchengine,
    &.searchengine-large {
        &::before {content: '\e8d0'}
    }
    &.sharebigfiles,
    &.sharebigfiles-large {
        &::before {content: "\e8cb"}
    }
    &.schoolbook,
    &.schoolbook-large {
        &::before {content:'\e91e'}
    }
    &.archive,
    &.archive-large {
        &::before {content:'\e81d'}
    }
    &.admin,
    &.admin-large {
        &::before {content:'\e81a'}
    }
    &.cahier-de-texte,
    &.cahier-de-texte-large {
        &::before {content:'\e910'}
    }
    &.wiki,
    &.wiki-large {
        &::before {content:'\e813'}
    }
    &.cns,
    &.cns-large {
        &::before {content:'\e88a'}
    }
    &.conversation,
    &.conversation-large {
        &::before {content:'\e804'}
    }
    &.paths,
    &.paths-large {
        &::before {content:'\e94d'}
    }
    &.notebook,
    &.notebook-large {
        &::before {content:'\e8d4'}
    }
    &.scrap-book,
    &.scrap-book-large {
        &::before {content:'\e8d4'}
    }
    &.blog,
    &.blog-large {
        &::before {content:'\e809'}
    }
    &.account,
    &.account-large {
        &::before {content:'\e905'}
    }
    &.support,
    &.support-large {
        &::before {content:'\e835'}
    }
    &.workspace,
    &.workspace-large {
        &::before {content:'\e81b'}
    }
    &.admin-portal,
    &.admin-portal-large {
        &::before {content:'\e908'}
    }
    &.stats,
    &.stats-large {
        &::before {content:'\e909'}
    }
    &.userbook,
    &.userbook-large {
        &::before {content:'\e811'}
    }
    &.agenda,
    &.agenda-large {
        &::before {content:'\e83c'}
    }
    &.absences,
    &.absences-large {
        &::before {content:'\e80b'}
    }
    &.mindmap,
    &.mindmap-large {
        &::before {content:'\e859'}
    }
    &.timelinegenerator,
    &.timelinegenerator-large {
        &::before {content:'\e819'}
    }
    &.actualites,
    &.actualites-large {
        &::before {content:'\e85b'}
    }
    &.pad,
    &.pad-large {
        &::before {content:'\e829'}
    }
    &.settings-class,
    &.settings-class-large {
        &::before {content: '\e942'}
    }
    &.library,
    &.library-large {
        &::before {content: '\e94c'}
    }
    &.visioconf,
    &.visioconf-large,
    &.Web-conference,
    &.Web-conference-large {
        &::before {content: "\e957"}
    }
    &.notes,
    &.notes-large {
        &::before {content: '\e832'}
    }
    &.attendance,
    &.attendance-large {
        &::before {content: '\e80b'}
    }
    &.exercizer,
    &.exercizer-large {
        &::before {content: '\e833'}
    }
    &.calendar,
    &.calendar-large {
        &::before {content: '\e834'}
    }
    &.collaborative-wall,
    &.collaborative-wall-large {
        &::before {content: '\e800'}
    }
    &.statistics,
    &.statistics-large {
        &::before {content: '\e810'}
    }
    &.polls,
    &.poll-large {
        &::before {content: '\e832'}
    }
    &.community,
    &.community-large {
        &::before {content: '\e814'}
    }
    &.forum,
    &.forum-large {
        &::before {content: '\e81e'}
    }
    &.pages,
    &.pages-large {
        &::before {content: '\e876'}
    }
    &.rbs,
    &.rbs-large {
        &::before {content: '\e80e'}
    }
    &.sharebigfiles,
    &.sharebigfiles-large {
        &::before {content: '\e8cb'}
    }
    &.website,
    &.website-large {
        &::before {content: '\e94a'}
    }
    &.parametrage,
    &.parametrage-large {
       &::before {content: '\e92f'}
    }
    &.video,
    &.video-large {
        &::before {content: '\e872'}
    }
    &.kne,
    &.kne-large {
        &::before {content: '\e81f'}
    }
    &.sacoche,
    &.sacoche-large {
        &::before {content: '\e899'}
    }
    &.pronote,
    &.pronote-large {
        &::before {content: '\e82a'}
    }
    &.maxicours,
    &.maxicours-large {
        &::before {content: '\e825'}
    }
    &.madmagz,
    &.madmagz-large {
        &::before {content: '\e89d'}
    }
    &.universalis,
    &.universalis-large {
        &::before {content: '\e831'}
    }
    &.le-site-tv,
    &.le-site-tv-large {
        &::before {content: '\e87a'}
    }
    &.esidoc,
    &.esidoc-large {
        &::before {content: '\e826'}
    }
    &.onisep,
    &.onisep-large {
        &::before {content: '\e88c'}
    }
    &.onisep2,
    &.onisep2-large {
        &::before {content: '\e894'}
    }
    &.edumedia,
    &.edumedia-large {
        &::before {content: '\e887'}
    }
}

// Add class for applications 1D
// .application {
//     &.nom-appli {
//         &::after {
//             font-family: "Roboto";
//             font-size: 0.9rem;
//             content: "1D";
//             position: absolute;
//             top: -5px;
//             right: -5px;
//             background-color: $primary;
//             color: $white;
//             width: 25px;
//             height: 25px;
//             border-radius: 50%;
//         }
//     }
// }

// shadow class for D&D Sortable.js library
.blue-background-class {
    background-color: rgba($secondary, 0.15);
}

// /!\ Override icon for Nouvelle Aquitaine /!\
i.support-large:before {
    content: " ";
    background-image: url(/assets/themes/na/img/illustrations/assistance-ent.svg);
    display: block;
    width: 117px;
    height: 117px;
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  
  i.moodle-large:before {
    content: " ";
    background-image: url(/assets/themes/na/img/illustrations/moodle-logo.svg);
    display: block;
    width: 117px;
    height: 117px;
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  
  i.mediacentre-large:before {
    content: " ";
    background-image: url(/assets/themes/na/img/illustrations/mediacentre-logo.svg);
    display: block;
    width: 117px;
    height: 117px;
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  
  i.Mediacentre-large:before {
    content: " ";
    background-image: url(/assets/themes/na/img/illustrations/mediacentre-logo.svg);
    display: block;
    width: 117px;
    height: 117px;
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: top center;
  }